<div class="container">

  <div class="form-control">
    <h3>Login do sistema</h3>
  </div>

  <form action="">
    <div class="form-group mt-2">
      <label for="user">E-mail:</label>
      <input type="text" class="form-control" #email="ngModel" id="login" name="login" [(ngModel)]="usuario.login" required/>
    </div>

    <div class="form-group mt-2">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" #senha="ngModel" id="senha" name="senha" [(ngModel)]="usuario.senha" required/>
    </div>

    <button [disabled]="email.invalid || senha.invalid" class="btn btn-primary mt-2" (click)="login()">Acessar</button>
  </form>
</div>
